if SHIELD_NANTOR_LEFT

config ZMK_KEYBOARD_NAME
  default "Nantor"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_NANTOR_LEFT || SHIELD_NANTOR_RIGHT

config ZMK_SPLIT
  default y

endif
